/* Main CSS */

* {
    margin: 0;
    padding: 0;
    font-size: 20px;
    scroll-behavior: smooth;
}

* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

@font-face {
    font-family: 'c&c';
    src: url('../font/C&C Red Alert [INET].ttf');
}

@font-face {
    font-family: 'c&c2';
    src: url('../font/C&C Red Alert [LAN].ttf');
}

body {
    font-family: 'c&c', '04b03', 'Nunito', sans-serif;
}

.emphasis {
    font-family: 'c&c2' !important;
    font-weight: normal !important;
}

.overflow-hidden {
    overflow: hidden;
}

/* Custom Scrollbar */

/* width */
    ::-webkit-scrollbar {
    width: 10px;
}

/* Track */
    ::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
    ::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Page Load Spinner */

#load{
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
    background:url("../img/pendukung/loading.svg") no-repeat center center black;
}

/* Header + Footer */

.header {
    /*margin: 0 25% !important;
    padding: 1% 0 !important;*/
    margin: 0 !important;
    padding: 0 !important;
}

.header-child {
    margin: 0 10% !important;
    padding: 1% 0 !important;
}

.footer {
    margin: 0 10% !important;
}

.navbar-fixed {
    position: fixed;
    z-index: 999;
    opacity: 1;
    width: 100%;
}

/* Home */

.home-logo {
    display: block;
    margin: 0 auto;
    padding-bottom: 2em;
    max-width: clamp(40vh, 50%, 90vh);
}

.bg-red-home {
    background-color: #ea3d4e !important;
    color: white;
}

.bg-green-home {
    background-color: #00d2b9 !important;
    color: white;
}

.bg-blue-home {
    background-color: #448cff !important;
    color: white;
}

.bg-yellow-home {
    background-color: #ffe401 !important;
    color: white;
}

.btn-large {
    padding: 18px 28px;
    font-size: 32px !important;
    line-height: normal;
}

.home {
    text-align: center;
}

.w-30 {
    width: 30%;
}

.merek-home {
    margin: 0 5% ;
}

.bg-section-1 {
    background-image: url('../img/consolepay/bg-home-blue.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color:white;
    height: 90vh;
}

.bg-section-2 {
    background-image: url('../img/consolepay/bg-home-red.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color:white;
}

@media only screen and (max-width: 38.35em) {
    .bg-section-1 {
        background-image: url('../img/consolepay/bg-home-blue.svg');
    }

    .bg-section-2 {
        background-image: url('../img/consolepay/bg-home-red.svg');
    }
}

.col {
    margin: 0;
    padding: 1em;
    transition: all 0.5s;
    -webkit-transition: all 0.5s; /* Safari 3.1 to 6.0 */
}

.col:hover {
    transform: scale(1.1);
}

.col-disabled {
    margin: 0;
    padding: 1em;
    transition: all 0.5s;
    -webkit-transition: all 0.5s; /* Safari 3.1 to 6.0 */
}

/* Sliding Background */

.bg-container {
    overflow: hidden;
    z-index: 1080;
}

.sliding-background-red {
    background: url("../img/consolepay/bg-sliding-red.svg") repeat-x;
    height: 1080px;
    width: 5076px;
    animation: slide 60s linear infinite;
}

.sliding-background-green {
    background: url("../img/consolepay/bg-sliding-green.svg") repeat-x;
    height: 1080px;
    width: 5076px;
    animation: slide 60s linear infinite;
}

@keyframes slide {
    0%{
        transform: translate3d(0, 0, 0);
    }
    100%{
        transform: translate3d(-1692px, 0, 0); /* The image width */
    }
}

/* Login + Register */

.home-login {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

h5 {
    text-align: center;
}

.login-box {
    width: 35%;
	position: fixed;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;

    margin: 0 auto;
    margin-top: 3%;
}

.register-box {
    width: 35%;
	position: fixed;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;

    margin: 0 auto;
    margin-top: 3%;
}

.input-group {
    margin: 0 !important;
    margin-top: 10px !important;
}

.errorMsg {
    margin: 0;
    padding: 0;
}

/* Detail Barang */

.desc strong {
    margin-bottom: 0;
}

